.testimonials__controls{
  display: flex;
  justify-content: space-between;
}

.testimonials__dots{
  display: flex;
  width: 55px;
  justify-content: space-between;
  align-items: center;
}


.testimonials__dot{
  display: block;
  width: 5px;
  height: 5px;
  background: #FFFFFF;
  border-radius: 50%;
}

.testimonials__dot_active{
  width: 10px;
  height: 10px;
  background: #F063B8;
}

.testimonials__arrows{
  display: flex;
  justify-content: space-between;
  width: 80px;
  cursor: pointer;
}