.contacts {
  display: flex;
  flex-direction: column;
  width: 240px;
  font-family: Avenir, sans-serif;
}

.contacts__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
  font-weight: 900;
  font-size: 20px;
  line-height: 160%;
}

.contacts__address {
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #212353;
  margin-bottom: 10px;
}

.contacts__info {
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #212353;
  margin-bottom: 35px;
}

.contacts__copyright {
  font-size: 12px;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #212353;
}

@media screen and (max-width: 425px) {
  .contacts__head {
    font-size: 16px;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .contacts {
    width: 200px;
  }
  .contacts__address{
    font-size: 14px;
    margin-bottom: 5px;
  }
  .contacts__info{
    font-size: 14px;
    margin-bottom: 15px;
  }
  .contacts__copyright{
    font-size: 10px;
  }
}