.footer {
  border-top: 2px solid #9C69E2;
  padding: 165px 20px 65px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 100px 20px 40px;
  }
}
@media screen and (max-width: 425px) {
  .footer {
    padding: 50px 20px 30px;
  }
}
